@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Calibri Bold";
  src: url("/calibri-bold.ttf");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #F4F3EE;
  font-family: "Poppins", sans-serif;
}
html .hoolix-top-nav-container {
  width: 100%;
}
html .hoolix-top-nav-container .top-nav {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 2px solid #BEBDBA;
}
html .hoolix-top-nav-container .top-nav .top-nav-logo {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #181818;
  text-decoration: none;
}
html .hoolix-top-nav-container .top-nav .top-nav-logo img {
  width: 40px;
  margin-right: 10px;
}
html .hoolix-top-nav-container .top-nav .top-nav-logo span {
  font-weight: normal;
  color: #BEBDBA;
}
html .hoolix-top-nav-container .top-nav .top-nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
html .hoolix-top-nav-container .top-nav .top-nav-menu ul li {
  list-style: none;
}
html .hoolix-top-nav-container .top-nav .top-nav-menu ul li a {
  text-decoration: none;
  color: #A09F9D;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: relative;
}
html .hoolix-top-nav-container .top-nav .top-nav-menu ul li a:hover {
  color: #FD4714;
}
html .hoolix-top-nav-container .top-nav .top-nav-menu ul li a:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 30px;
  background-color: #FD4714;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
html .hoolix-top-nav-container .top-nav .top-nav-menu ul li a:hover::before {
  transform: scaleX(1);
}
html .hoolix-top-nav-container .top-nav .top-nav-socials {
  display: flex;
  column-gap: 20px;
}
html .hoolix-top-nav-container .top-nav .top-nav-socials img {
  width: 30px;
}
html .hoolix-header-container {
  width: 100%;
}
html .hoolix-header-container .header {
  max-width: 1240px;
  margin: auto;
  padding: 40px 0;
  border-bottom: 2px solid #BEBDBA;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
html .hoolix-header-container .header .header-1 h1 {
  font-size: 96px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
html .hoolix-header-container .header .header-2 {
  margin-top: 16px;
  justify-content: flex-start;
}
html .hoolix-header-container .header .header-2 p {
  color: #A09F9D;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: right;
  text-transform: uppercase;
}
html .hoolix-header-container .header .header-2 p:nth-child(2) {
  margin: 51px 0;
}
html .hoolix-hero-container {
  width: 100%;
}
html .hoolix-hero-container .hero {
  max-width: 1240px;
  margin: auto;
  padding: 40px 0;
}
html .hoolix-hero-container .hero .hero-1 .hero-1-1 {
  display: flex;
  align-items: center;
  position: relative;
}
html .hoolix-hero-container .hero .hero-1 .hero-1-1 > img {
  z-index: 2;
}
html .hoolix-hero-container .hero .hero-1 .hero-1-1 img:nth-child(2) {
  z-index: 1;
  position: absolute;
  left: 70px;
}
html .hoolix-hero-container .hero .hero-1 .hero-1-1 img {
  width: 85px;
}
html .hoolix-hero-container .hero .hero-1 p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #A09F9D;
  margin: 40px 0;
}
html .hoolix-hero-container .hero .hero-1 h2 {
  font-size: 85px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
html .hoolix-hero-container .hero .hero-1 h2 span {
  color: #FD4714;
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  font-weight: 500;
  position: absolute;
  top: 0;
}
html .hoolix-hero-container .hero .hero-1 h3 {
  color: #FD4714;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
