//-> colors

//-> primary colors
$orange: #FD4714;
$background-color: #F4F3EE;
$text-grey: #BEBDBA;
$link-grey: #A09F9D;
$text-black: #181818;



// fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$ubuntu: "Ubuntu", sans-serif;

@font-face {
    font-family: "Calibri Bold";
    src: url('/calibri-bold.ttf');
}
$calibriB: "Ubuntu", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$poppins: "Poppins", sans-serif;


$width: 1170px;
$transition1:  0.3s ease-in-out;
$boxShadow: 0 8px 16px 0 rgba(253, 71, 20, 0.24);